body {
  background-color: lightblue;
  color: #FEFEFE;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14;
  margin: 0;
  padding: 0;
}


.message-Posts{
  background: rgb(145, 100, 100);
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
}

.message,
.message1,
.message2,
.message3,
.message4,
.message5,
.message6,
.message7,
.message8,
.message9,
.message10,
.message11,
.message12,
.message13,
.message14,
.message15,
.message16,
.message17,
.message18,
.message19,
.message20,

.message21 {
  background: rgb(145, 50, 50);
  max-width: 95%;
  margin: 100px auto 16px;
  padding: 32px 2px;
  border-radius: 3px;
}
.comment1,
.comment2,
.comment3,
.comment4,
.comment5,
.comment6,
.comment7,
.comment8,
.comment9,
.comment10,
.comment11,
.comment12,
.comment13,
.comment14,
.comment15,
.comment16,
.comment17,
.comment18,
.comment19,
.comment20,
.comment21

 {
  
  background: rgb(145, 50, 50);
  max-width: 85%;
  margin: 10px auto 16px;
  padding: 32px 2px;
  border-radius: 3px;
}
.comment-post{
  background: rgb(145, 50, 50);
  max-width: 85%;
  margin: 10px auto 16px;
  padding: 32px 2px;
  
}

.message h2 {
  color: rgb(90, 72, 72);
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 8px;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

.message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
  margin: 3px;
}

.message,
.message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  body,
  .message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  body {
    border-top: 16px solid #ffa100;
  }
}

table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(173, 175, 76);
  color: white;
}
.message form {
  margin: 10px;
  padding: 30px;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='number'],
select,

input[type='password'] {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px;
  min-width: 60%;
  border-radius: 4px;
  border-width: 0px 1px 1px 0px;
  border-style: inset;
}
#postBody
{
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: white;
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px;
  min-width: 100%;
  border-radius: 4px;
  border-width: 0px 1px 1px 0px;
  border-style: inset;
}

.comment1,
.comment2,
.comment3,
.comment4,
.comment5,
.comment6,
.comment7,
.comment8,
.comment9,
.comment10,
.comment11,
.comment12,
.comment13,
.comment14,
.comment15,
.comment16,
.comment17,
.comment18,
.comment19,
.comment20,
.comment21{
  visibility: hidden;
}
.message1,
.message2,
.message3,
.message4,
.message5,
.message6,
.message7,
.message8,
.message9,
.message10,
.message11,
.message12,
.message13,
.message14,
.message15,
.message16,
.message17,
.message18,
.message19,
.message20,
.message21{
  visibility: hidden;
}
.comment-form1,
.comment-form2,
.comment-form3,
.comment-form4,
.comment-form5,
.comment-form6,
.comment-form7,
.comment-form8,
.comment-form9,
.comment-form10,
.comment-form11,
.comment-form12,
.comment-form13,
.comment-form14,
.comment-form15,
.comment-form16,
.comment-form17,
.comment-form18,
.comment-form19,
.comment-form20,
.comment-form21{
  visibility: hidden;
}


input[type='submit'],
input[type='button'],
input[type='reset'] {
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  min-width: 25%;
  border-radius: 4px;
}

.message form p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  min-width: 80%;
  padding: 5px 0;
}

.center {
  padding-left: 150px;
}

input:focus {
  background-color: #dfdfe6;
  outline-width: 0px;
}
